**
!package.json
!package-lock.json
!index.html
!tsconfig.json
!vite.config.ts
!playwright.config.ts
!eslint.config.js
!.prettierrc.json
!.prettierignore
!src/
!src/**
!test/
!test/**
!e2e/
!e2e/**
!react-standards.md
!.gitignore
!docker-compose.yml

!README.md
!nginx.conf
